.dropzone{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;

    border-radius: 7px 7px 7px 7px;
    border: 2px solid #6E6EFE;
    border-style: dashed;
    
}

.dropzoneSpace{
    margin-top: 4%;
    
    display: flex;
    justify-content: center;
}

.upload{
    padding-top: 7%; 
    
}

.file{
    font-size: 140%;
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
}

.buttonSubmit{
    margin-top: 1%;
    margin-right: 4%;
    position: relative;
}