#container{
    margin-top: 4%;
    margin-bottom: 4%;
    
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #c3c3c3;
    box-shadow: 10px 10px 38px -4px rgba(0,0,0,0.75);
}

#CandidatesTab{
    margin-top: 4%;
    margin-bottom: 4%;
}

.savebuttonCandidates{
    position: relative;
}

ul{
    list-style-type: none;
}

.topSpace{
    margin-top: 15%;
}

.bottomSpace{
    margin-bottom: 10%;
}

#limitTen{
    margin-left: 3%;
    height: 680px;
    position: relative;
    overflow: auto;
    flex: 1;
}

.specialitiesTab{
    margin-top: 5%;
    overflow: auto;
    height: 600px;
}