.teacherLine{
    border-right: 2px solid #c3c3c3;
    margin-top: 2%;
    margin-bottom: 2%;
}

.buttonSpace{
    padding-top: 5%;
    padding-left: 3%;
}

.progressButton{
    margin-top: 5%;
    position: relative;
}

.color1{
    background-color: indianred;
}

.color2{
    background-color:lightgreen;
}

.formControl{
    width: 80%;
}

.teacherContent{
    padding-left: 6%;
}

.teacherGenre{
    width: 18%;
}